.resultsContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
}

.results {
    padding: 10px;
}

.results p {
    padding: 8px;
}

.warning {
    border-radius: 0.5rem;
    display: flex;
    padding: 12px;
    background-color: #FCEAC0;
    width: 85%;
}

.warning p {
    font-size: 12px;
    margin-left: 7px;
}


@media screen and (max-width:844px) {
    .resultsContainer {

        width: 100%;
    }

    .warning {
        background-color: #FCEAC0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 12px;
        height: 3.75rem;
        width: 100%;
        border-radius: 0.5rem;
    }

    .warning p {
        color: #393939;
        line-height: 18px;
        margin-left: 7px;
    }

    .result-equals {
        font-size: 14px;
        line-height: 17.5px;
    }

    .results-equals-right {
        font-size: 20px;
        line-height: 25px;
    }

    .results p {
        padding: 0;
        font-weight: 600;
    }
}