section {
    width: 100%;
    max-width: 380px;
}

label {
    font-size: 14px;
    margin-top: 1.8rem;
}
#selectCurrency {
    height: 2.5rem;
    width: 100%;
    border-radius: 4px;
    padding: 10px 16px;
    border: 1px solid #E0E0E0;
    float: left;
}