#root {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/images/exch.png');
  width: 100%;
  max-height: 50vh;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width:844px) {
  body {
   
  }
}