#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
}

.bg {
  background-image: url('./assets/images/exch.png');
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0px;
  top: 0px;
}

header>p {
  font-family: 'Work Sans';
  font-size: 10px;
  line-height: 39.88px;
  font-weight: 700;
}